.boende-detalj-img {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Desktop */
  @media (min-width: 1024px) {
    .boende-detalj {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0 1rem;
      max-width: 1200px;
      margin: 0 auto; /* Centrerar hela containern */
    }
    

    .boende-detail-image {
      max-width: 100%;
      margin: 0 auto;
    }
  }
  
  