.boende-detaljer-wrapper {
    background-color: rgb(240, 240, 240);
    max-width: 700px;
    padding: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;

}

.boende-info {
    margin-bottom: 2rem;
}