.boende-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .boende-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .boende-title {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .boende-location {
    color: #666;
    font-size: 0.95rem;
  }
  
  
  .favorite-btn:hover {
    background-color: #f4f4f4;
  }
  
  .boende-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .boende-meta {
    color: #333;
  }
  
  .rating {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  
  .rating-number {
    font-weight: 600;
    margin-right: 0.3rem;
  }
  
  .star-icon {
    color: #ccc;
  }
  
  .star-icon.filled {
    color: #f5b50a;
  }
  
  /* Regler */
  .rules h3 {
    margin-bottom: 0.5rem;
  }
  
  .rules ul {
    list-style: disc;
    padding-left: 1.5rem;
    color: #555;
    font-size: 0.95rem;
  }
  