.boende-detaljer-wrapper {
    background-color: rgb(240, 240, 240);
    max-width: 700px;
    width: 100%;
    padding: 1rem;
    margin-left: 9rem;
    margin-top: 2rem;

}

.boende-info {
    margin: 2rem;
}

@media (max-width: 768px) {
   .boende-detaljer-wrapper {
    margin: 0 auto;
    margin-top: 2rem;
} 

    
}