.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

/* Huvudomr책det som inneh책ller sidorna */
.app-main {
  flex: 1 1 auto;
  min-height: 0; /* VIKTIGT: till책ter child att scrolla */
  overflow-y: auto; /* scrolla h채r */
  -webkit-overflow-scrolling: touch; /* mjuk iOS-scroll */

}
