@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap');


/* === GLOBALT BASSTIL === */
:root {
  --text-color-dark: #000000;
  --text-color-light: #ffffff;
  --dark-green: #063831;
  --light-green: #ecf39e;
  --bg-color: #f4f4f4;
  --font-heading: 'League Spartan', sans-serif;
  --font-body: 'Open Sans', sans-serif;

}

/* Återställning & grundstruktur */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-body);
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
}

#root { min-height: 100%; }

/* === CONTAINER === */
.container {
  max-width: 1440px;
  margin: 0 auto;             /* Centrerar innehållet */
  width: 100%;
}

/* === RESPONSIVITET === */
@media (max-width: 1024px) {
  :root {
    --padding-x: 1rem;
  }
}

@media (max-width: 768px) {
  :root {
    --padding-x: 0.75rem;
  }
}
