.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  overflow-x: visible;
}

.container {
  max-width: 1440px;
  margin: 0 auto; 
  width: 100%;
}

.layout-main {
  flex: 1; 
  overflow-y: visible;
}

/* Desktop */
@media (min-width: 1024px) {
  .desktop-nav {
    display: flex;
    justify-content: space-between;
    background: white;
    border-bottom: 1px solid #eee;
  }
}

/* Mobil */
@media (max-width: 1023px) {
  .desktop-nav {
    display: none;
  }
}
